### Examples of code that would be used by the developor, but not a user

In [17]:
from src.data_generator import make_new_game_data as mgd
from src.football_db import FootballDB as FDB

In [18]:
# Every time you run this function it'll make a new random dataset
# and put it in the data/unloaded directory

# Three new datasets
for _ in range(3):
    mgd()

Generating new game data and saving as: ./data/unloaded/GAME_4852540234646702969.csv
Generating new game data and saving as: ./data/unloaded/GAME_8064959052822716654.csv
Generating new game data and saving as: ./data/unloaded/GAME_4496407218138913011.csv

In [19]:
# Instantiate a class to handle the database
fdb = FDB()

In [20]:
# Only if the database doesn't exist yet!
# If some data is already loaded, comment this out,
# then run mgd() again, then call load_new_data() again

fdb.build_tables(are_you_sure=True)

Are you really sure you want to drop all tables and rebuild? Enter y if so. y

Building the tables

In [21]:
# Load any new data that needs to be loaded
# It'll get moved to the data/loaded directory once loaded
fdb.load_new_data()

Loading a file: ./data/unloaded/GAME_4496407218138913011.csv
Loading a file: ./data/unloaded/GAME_8064959052822716654.csv
Loading a file: ./data/unloaded/GAME_4852540234646702969.csv

In [22]:
# See if we can run a query
fdb.run_query("SELECT * FROM sqlite_master;")

,type,name,tbl_name,rootpage,sql
0,table,tGameData,tGameData,2,CREATE TABLE tGameData (\n game...
1,index,sqlite_autoindex_tGameData_1,tGameData,3,None

In [23]:
# Game IDs
fdb.get_games()

[4496407218138913011, 4852540234646702969, 8064959052822716654]

In [24]:
# Player ids
fdb.run_query("SELECT DISTINCT player_id FROM tGameData;")

    player_id
0           1
1           2
2           3
3           4
4           5
5           6
6           7
7           8
8           9
9          10
10         13
11         20
12         21
13         22
14         23
15         24
16         25
17         26
18         27
19         28
20         29
21         30